:root {
    --xanh-nhatpreeco: #4da896;
    --xanh-denpreeco: #193050;
    --primary-color: rgb(221, 54, 62);
    --bg-color: #f9edd7;
    --title-program: #b2b2b2;
}

fieldset {
    /*background:  rgba(25, 48, 80, 1);*/
    border: 1px solid #FFFFFF;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    width: fit-content;
}

iframe {
    overflow: hidden;
}

select {
    text-align: center;
    appearance: none;
    padding: 5px 15px;
    font-size: 26px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(25, 48, 80, 1);
}
/*option :hover{
    cursor: pointer;
}*/
#bg {
    /* background-image: linear-gradient(140deg, #E3F3AC ,#44C662 ); */
    min-height:100vh;
    height:100%;
    background-color: var(--bg-color);
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*@font-face {
    font-family: myFont;*/
/*src: url('../Fonts/Nestle_font/SVN-SVN-A Love Of Thunder.ttf');*/
/*src:url(../Fonts/Vifon_font/Montserrat-ExtraBold.ttf)*/
/*}*/
/*@font-face{
    font-family:Nestle_note;
        src:url(../Fonts/NestleBrush-Regular.ttf)
}
@font-face{
    font-family:Nestle_numb;
    src:url(../Fonts/RightGrotesk-Bold.otf)
}*/

abbr {
    cursor: pointer !important;
    text-decoration: none !important;
}

.title {
    text-align: center;
    margin-top: 20px;
    color: var(--title-program);
    font-weight: Bold;
    font-size: 48px;
}

a {
    text-decoration: none;
}

#status {
    display: block;
    color: transparent;
    text-align: center;
    font-size: 24px
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgb(0 0 0 / 90%);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content-congrate {
    display: flex;
    justify-content: center;
    background-color: transparent;
    /*margin: 5% auto 15% auto;*/ /* 5% from the top, 15% from the bottom and centered */
    border: none;
    padding-top: 10%;
    border-radius: 5px;
    width: 100%;
}

.modal-content {
    padding: unset;
    min-height: 125px;
    background-color: rgb(211, 229, 253);
    border: 2px solid white;
    margin: auto;
    transform: translateY(50%);
    width: 50%;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

td {
    color: rgba(25, 48, 80, 1);
}

.table td {
    border: 2px solid white;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}
/*
  .table tr:hover {background-color: #ddd;}*/

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgba(25, 48, 80, 1);
    color: white;
    /* background-color: rgba(25, 48, 80, 1);
    color: #574e9b;*/
}
/* The Close Button */
.close {
    color: #fff;
    position: absolute;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

ul {
    list-style-type: none;
}

div.number {
    padding-top: 135px;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 2px solid transparent;
}

.container {
    width: 100%;
    border: 2px solid transparent;
    min-height: 150px;
}

div.box {
    box-sizing: border-box;
    width: 10%;
    border: 2px solid transparent;
    float: left;
}

div.box1 {
    box-sizing: border-box;
    width: 80%;
    border: 2px solid transparent;
    float: left;
}

.input-group {
    text-align: center;
    display: grid;
    padding: 15px;
    font-weight: Bold;
    color: #FFFFFF;
}

.inputfile::-webkit-file-upload-button {
    display: none;
}

.inputfile::before {
    content: 'Chọn file';
    display: inline-block;
    margin-top: 10px;
    padding: 8px 5px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    /* background-color: #C9182B; */
    color: #FFFFFF;
    transition: 0.5s;
}

.square {
    margin: 0 10px;
    font-size: 73px;
    min-height: 130px;
    min-width: 8.5%;
    background-color: #FFFFFF;
    color: rgba(25, 48, 80, 1);
    border: none;
    border-radius: 10px;
    /*width: -webkit-fill-available;*/
    margin-bottom: 15px;
    box-shadow: 0px 2px 17px 4px #0000003b;
}

.btn-run {
    min-width: 200px;
    margin: 10px 7px 0px 7px;
    font-size: 26px;
    padding: 10px 24px;
    border: 1px solid;
    font-weight: Bold;
    border-radius: 10px;
    /*box-shadow: 0 10px 0 rgb(42, 87, 150);*/
    cursor: pointer;
    background-color: #ffffff;
    color: rgba(25, 48, 80, 1);
    transition: 0.25s;
}

    /*.btn-run:active {
    box-shadow: none;
    transform: translateY(10px);
}*/

    .btn-run:hover {
        /*background-color: rgb(19, 55, 105);*/
        opacity: 60%
    }

/* ----------------------------  PHAO HOA ---------------------------- */

.pyro > .after {
   
    animation-delay: 1.25s, 1.25s, 1.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
}

@keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}


@keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}


@keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
        

/*-----------  ACB- firework  -------*/
/*.pyro > .before, .pyro > .after {
    position: absolute;
    width: 7px;
    height: 7px;
    pointer-events: none;
    z-index: 99999999;
    border-radius: 50%;
    box-shadow: -120px -218.66667px #2330ec done, 248px -16.66667px lá
 #febe10 done , 190px 16.33333px #0a138c done , -113px -330.66667px 1 hồng  #febe10 done , -109px -287.66667px #0a138c done , -50px -360.66667px 2 hồng  #0a138c done , 226px -31.66667px #0a138c done , 180px -150.66667px 4 tím  #2330ec done , -12px -300.66667px #0a138c done ,  
220px -360.66667px lá  #0a138c done , -69px -27.66667px #2330ec done , -111px -380.66667px #0a138c done , 155px -237.66667px #0a138c done , -152px -320.66667px #febe10 done , -50px -37.66667px #febe10 done , -95px -175.66667px lá  #FFFFFF done , -88px 10.33333px #FFFFFF done ,  
112px -309.66667px #FFFFFF done , --secondary
69px -250.66667px hồng  #0a138c done , 168px -100.66667px #2330ec done , -244px 24.33333px #0a138c done , 97px -300.66667px #0a138c done , hồng 
-211px -182.66667px #febe10 done , lá 
236px -126.66667px #2330ec done , tím 
140px -196.66667px #2330ec done , tím 
125px -175.66667px #2330ec done ,  
118px -300.66667px #2330ec done , 144px -111.66667px #0a138c done , 36px -78.66667px #2330ec done , tím 
-63px -196.66667px #2330ec done , tím 
-218px -227.66667px #FFFFFF done , lá 
-134px -300.66667px #2330ec done , -36px -37.66667px #0a138c done , hồng 
209px -106.66667px #0a138c done , 91px -278.66667px #0a138c done , -22px -191.66667px #FFFFFF done , lá 
139px -300.66667px #FFFFFF done , lá 
56px -2.66667px #0a138c done , -156px -276.66667px #0a138c done , hồng 
-163px -233.66667px #0a138c done , -238px -310.66667px lá  #FFFFFF done , 62px -370.66667px #FFFFFF done , 244px -170.66667px #FFFFFF done , 224px -142.66667px tím  #2330ec done , 141px -208.66667px tím  #2330ec done , 211px -285.66667px #0a138c done , 181px -128.66667px #FFFFFF done , 90px -123.66667px tím  #2330ec done , 189px 70.33333px #febe10 done , -18px -303.66667px #0a138c done , 100px -6.66667px hồng  #0a138c done ;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
-ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}*/
/*-----------  ACB- firework  -------*/


/*-----------  Nestle- firework  -------*/
.pyro > .before, .pyro > .after {
    position: absolute;
    width: 7px;
    height: 7px;
    pointer-events: none;
    z-index: 99999999;
    border-radius: 50%;
    box-shadow: -120px -218.66667px #d78464, 248px -16.66667px /*lá*/ #149690, 190px 16.33333px #f6d294, -113px -330.66667px /*hồng*/ #149690, -109px -287.66667px #f6d294, -50px -360.66667px /*hồng*/ #f6d294, 226px -31.66667px #f6d294, 180px -150.66667px /*tím*/ #d78464, -12px -300.66667px #f6d294, 220px -360.66667px /*lá*/ #f6d294, -69px -27.66667px #d78464, -111px -380.66667px #f6d294, 155px -237.66667px #f6d294, -152px -320.66667px #149690, -50px -37.66667px #149690, -95px -175.66667px /*lá*/ #e32028, -88px 10.33333px #e32028, 112px -309.66667px #e32028, 69px -250.66667px /*hồng*/ #f6d294, 168px -100.66667px #d78464, -244px 24.33333px #f6d294, 97px -300.66667px #f6d294, /*hồng*/
    -211px -182.66667px #149690, /*lá*/
    236px -126.66667px #d78464, /*tím*/
    140px -196.66667px #d78464, /*tím*/
    125px -175.66667px #d78464, 118px -300.66667px #d78464, 144px -111.66667px #f6d294, 36px -78.66667px #d78464, /*tím*/
    -63px -196.66667px #d78464, /*tím*/
    -218px -227.66667px #e32028, /*lá*/
    -134px -300.66667px #d78464, -36px -37.66667px #f6d294, /*hồng*/
    209px -106.66667px #f6d294, 91px -278.66667px #f6d294, -22px -191.66667px #e32028, /*lá*/
    139px -300.66667px #e32028, /*lá*/
    56px -2.66667px #f6d294, -156px -276.66667px #f6d294, /*hồng*/
    -163px -233.66667px #f6d294, -238px -310.66667px /*lá*/ #e32028, 62px -370.66667px #e32028, 244px -170.66667px #e32028, 224px -142.66667px /*tím*/ #d78464, 141px -208.66667px /*tím*/ #d78464, 211px -285.66667px #f6d294, 181px -128.66667px #e32028, 90px -123.66667px /*tím*/ #d78464, 189px 70.33333px #149690, -18px -303.66667px #f6d294, 100px -6.66667px /*hồng*/ #f6d294;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}
/*-----------  Nestle- firework  -------*/

#phaohoa {
    display: none;
    z-index:9999;
}

.colorCongrate {
    padding: 0 10px 2px 10px;
    font-weight: 600;
    color: white;
    background: -webkit-linear-gradient(#f2dd7b, #2adcf9);
    -webkit-background-clip: text;
    -webkit-text-stroke: 5px transparent;
    /* animation-name: colorCongrate;
    animation-duration: 3s;*/
}

#logoImage {
    position: absolute;
    width: 110px
}

#logo {
    width: 100%;
}
/*background congrate*/
#congrate {
    border-radius: 9px;
    padding: 90px;
    background-color: white;
    color: white;
    animation-name: congrate;
    animation-duration: 1s;
    background-color: unset;
    background-size: contain;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
}

    #congrate p {
        font-size: 35px;
        margin: 0
    }

@keyframes congrate {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}


/*Mobile & Tablet : width < 1024px*/
@media screen and (max-width:63.9375em) {

    #logo {
        width: 100%;
    }

    #logoImage {
        width: 99px;
    }

    .title {
        font-size: 40px
    }

    .square {
        font-size: 14px;
        margin-right: 6px;
        min-height: 50px;
        min-width: 9%;
    }

    .btn-run {
        font-size: 16px;
        padding: 5px 15px;
    }

    .prize_mobile {
        display: flex;
        justify-content: center;
        align-items: stretch;
        min-width: 600px;
    }

    #fs {
        padding: 0;
    }

    .input-group {
        padding: 5px;
    }

    select {
        padding: 5px 15px;
        font-size: revert;
    }

    iframe {
        height: 280px;
        width: 350px;
    }

    #image_prize {
        width: 250px;
        height: 150px;
    }
}

.prize_mobile {
    display: flex;
    justify-content: center
}
/*Mobile screen*/
@media screen and (max-width:46.1875em) {
    .table {
        font-size: smaller
    }
}

.container_title {
    text-align: center;
    display: flex;
    justify-content: center;
}



@media screen and (max-width:46.1875em) and (orientation:portrait) {
    .container {
        padding: 0
    }

    #logoImage {
        position: fixed;
    }

    .container_title {
        padding-left: 0;
        font-size: 35px;
        flex-direction: column;
    }

    .square {
        font-size: 14px;
        margin-right: 6px;
        min-height: 50px;
        min-width: 16.5%;
    }

    .title {
        margin: 0;
    }

    div.box1 {
        width: 50%;
    }

    .body-content {
        padding: 0;
    }

    #logo {
        position: unset;
        height: 50px;
        width: 50%;
        transform: translateX(50%);
    }

    .prize_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-width: 0;
    }

    .flex_center {
        display: flex;
        justify-content: center;
        align-items: center
    }

    .number {
        flex-direction: unset;
        /*justify-content: unset !important;*/
    }

    .modal-content {
        width: 80%;
    }

    .colorCongrate {
        font-size: 26px;
    }
}


/* .overlay {
  min-height: 100%;
  background-color: black;
  opacity: 0.5;
} */
p {
    margin-block-start: 0;
    margin-block-end: 0;
}

input {
    margin: 0;
}

::placeholder {
    color: rgba(231, 181, 94, 0.40);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay {
    background-color: #696969;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

    #overlay img {
        animation-name: example;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

@keyframes example {
    50% {
        transform: rotate(60deg);
    }
}

@media screen and (max-width: 46.1875em) and (orientation: portrait) {
    #overlay {
        display: none;
    }
}

.animate-shake {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes shake {
    0% {
        transform: rotate(-10deg);
    }

    25% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(-10deg)
    }
}

:root {
    --ffffff: rgba(255, 255, 255, 1);
    --x-1c-1c-20: rgba(28, 28, 32, 1);
    --SF-subheadline-semibold-font-family: "SFPro Text-Semibold", Helvetica;
    --SF-subheadline-semibold-font-weight: 400;
    --SF-subheadline-semibold-font-size: 15px;
    --SF-subheadline-semibold-letter-spacing: -0.23999999463558197px;
    --SF-subheadline-semibold-line-height: 20px;
    --SF-subheadline-semibold-font-style: normal;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

    .home .div {
        width: 100vw;
        height: 100vh;
        position: relative;
    }

    .home .overlap {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: 50% 50%;
    }

/* .home .BG{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
  } */
.dragon {
    width: 83%;
    padding-left: 3%;
    object-fit: cover;
}

.tagline {
    /* position: absolute; */
    width: 50%;
    /* top: 221px;
    left: 89px; */
    object-fit: cover;
}

.logo {
    margin-bottom: 7%;
    /* position: absolute; */
    width: 13%;
}

.group {
    /* position: absolute; */
    width: 40%;
    height: 6%;
    /* top: 590px;
    left: 104px; */
}

.home .overlap-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 9px;
    background: linear-gradient( 180deg, rgb(242, 203, 132) 0%, rgb(193, 124, 49) 100% );
}

.home .text-wrapper {
    font-family: "Montserrat", Helvetica;
    font-weight: 500;
    color: #7f130b;
    font-size: x-large;
    text-align: center;
    letter-spacing: -0.24px;
    line-height: 20px;
}

#msnv {
    text-align: center;
    background: transparent;
    width: 80%;
    color: #E7B55E;
    font-size: 16px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 9px;
    border: 1px solid #E3B36A;
}

.text-notice {
    margin-bottom: 15px;
    color: #E7B55E;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: -0.24px
}
